@import url("https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,700|Roboto:100,300,400,700&display=swap");
body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

/* Layout */
/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

.header {
  background-color: #00A8FF;
  position: absolute;
  top: 50px;
  width: 100%; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  z-index: 1; }

.wrap-logo {
  position: relative;
  width: 159px; }

.logo {
  position: absolute;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.youtube-logo {
  margin-bottom: 2px; }

.menu-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0; }
  .menu-list a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.035em;
    text-decoration: none;
    margin-right: 30px;
    padding-bottom: 5px;
    border-bottom: 2px transparent solid; }
    .menu-list a:hover {
      border-bottom: 2px #fff solid;
      width: 150%; }
    .menu-list a:active {
      border-bottom: 2px #fff solid;
      width: 150%; }

.social-media > a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px; }

.offer {
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(rgba(0, 64, 255, 0.38))), url(../img/bg-2.jpg) no-repeat center/cover;
  background: -webkit-linear-gradient(top, #3c3c3c 0%, rgba(0, 64, 255, 0.38) 100%), url(../img/bg-2.jpg) no-repeat center/cover;
  background: -o-linear-gradient(top, #3c3c3c 0%, rgba(0, 64, 255, 0.38) 100%), url(../img/bg-2.jpg) no-repeat center/cover;
  background: linear-gradient(to bottom, #3c3c3c 0%, rgba(0, 64, 255, 0.38) 100%), url(../img/bg-2.jpg) no-repeat center/cover;
  min-height: 100vh;
  background-attachment: fixed; }

.offer__title {
  max-width: 460px;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 20% auto 5%;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff; }

.offer__text {
  margin: 0;
  max-width: 640px;
  padding: 15px;
  margin: 0 auto; }

.offer__description {
  font-family: 'Roboto', sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  margin: 0; }

.positions {
  margin: 190px 0 60px; }

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden; }
  .position img {
    max-width: 100%; }

.position__overlay {
  background: rgba(0, 0, 0, 0.64);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .position__overlay-title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px; }
  .position__overlay-salary {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; }
  .position__overlay-description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px; }
  .position__overlay-messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .position__overlay-messengers .icon {
      color: #fff; }
      .position__overlay-messengers .icon i {
        font-size: 35px;
        margin: 0 20px; }
        .position__overlay-messengers .icon i:hover {
          cursor: pointer; }
      .position__overlay-messengers .icon .fa-whatsapp:hover {
        color: #2fd14b; }
      .position__overlay-messengers .icon .fa-viber:hover {
        color: #795098; }
      .position__overlay-messengers .icon .fa-telegram-plane:hover {
        color: #2ba0da; }

.position:hover .position__overlay {
  opacity: 1; }

.process {
  margin: 60px; }
  .process__title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif; }
  .process .work-step {
    letter-spacing: 0.025em; }
    .process .work-step__title {
      margin: 25px 0 15px;
      font-size: 22px;
      font-weight: 100;
      font-family: 'Raleway', sans-serif; }
    .process .work-step__descr {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6em; }

footer {
  background-color: #013957;
  font-family: 'Roboto', sans-serif; }
  footer .menu {
    padding: 0;
    font-size: 14px;
    list-style: none; }
    footer .menu li {
      margin-bottom: 10px; }
      footer .menu li a {
        text-decoration: none;
        color: #fff;
        line-height: 1.25em; }
  footer .social-media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    footer .social-media a {
      text-decoration: none;
      color: #fff; }
    footer .social-media .fab {
      font-size: 25px; }
    footer .social-media .fa-instagram:hover {
      color: #e3436b; }
    footer .social-media .fa-facebook-square:hover {
      color: #3d6ddc; }
    footer .social-media .fa-youtube:hover {
      color: #ff0000; }
  footer .copyright {
    color: #D5D5D5;
    font-size: 12px;
    margin: 20px 0 6px; }
  footer .developed {
    margin: 0;
    padding: 0;
    color: #7f9eac;
    font-size: 10px; }
    footer .developed a {
      text-decoration: none;
      color: #7f9eac; }
  footer .phone {
    color: #fff; }
    footer .phone .messengers {
      margin-top: 20px;
      color: #fff;
      font-size: 25px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-left: 5px; }
      footer .phone .messengers a {
        color: #fff;
        text-decoration: none; }
      footer .phone .messengers i {
        text-align: center;
        margin-right: 20px; }
        footer .phone .messengers i:hover {
          cursor: pointer; }
      footer .phone .messengers .fa-whatsapp:hover {
        color: #2fd14b; }
      footer .phone .messengers .fa-viber:hover {
        color: #795098; }
      footer .phone .messengers .fa-telegram-plane:hover {
        color: #2ba0da; }
  footer .adress {
    font-size: 12px;
    color: #fff;
    padding-left: 60px;
    line-height: 1.6em; }
    footer .adress .adress-text {
      margin: 0;
      padding: 0; }

/*# sourceMappingURL=style.css.map */